<% if @user %>
	<div class="container">
		<div class="row">
			<div class="col feed">
				<h1>Welcome <%= @user.name %></h1>
			</div><!-- col -->
		</div><!-- row -->
		<div class="row">
			<div class="col">
				<a href="/profile"><button type="button" class="btn btn-info round">Your Profile</button></a>
			</div>
			<div class="col">
				<a href="/post"><button class="btn btn-outline-info waves-effect round">New Shower Thought</button></a>
			</div>
		</div>
		<div class="row">
				<% @feed.each do |post| %>
					<div class="col-6">
						<div class="card card-body post_container">
							<h4 class="card-title"><%= post.user.username %></h4>
					    <textarea class="card-text post" readonly="true"><%= post.content %></textarea>
					    <a class="delete_post card-link" href="/delete_post/<%= post.id %>">Delete</a>
				    </div>
			   </div> 
				<% end %>
		</div>
	</div><!-- container -->

<% else %>

<div class="container_fluid home_container">
	<div class="row center"></div>
	<div class="row">
		<div class="home col">
			<h1>Welcome to the Shower Thoughts Community</h1>
			<p>Feeling existential?</p>
		</div>
	</div>
	<div class="home row">
		<div class="col">
			<a href="/create_account"><button class="btn btn-info round">CREATE ACCOUNT</button></a>
			<a href="/sign_in"><button class="btn btn-outline-info waves-effect round">SIGN IN</button></a>
		</div>
	</div>
</div>
  
<% end %>